.formulario-tarea {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.formulario-tarea input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #444;
  background-color: #222;
  color: white;
  font-size: 1rem;
}

.formulario-tarea button {
  padding: 12px 20px;
  background-color: #00adb5;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.acciones {
  display: flex;
  gap: 10px;
  align-items: center;
}

.btn-estado, .btn-eliminar {
  padding: 6px 12px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
  font-size: 0.85rem;
}

.btn-estado {
  background-color: #393e46;
  color: #eee;
}

.btn-estado:hover {
  background-color: #4b525d;
}

.btn-eliminar {
  background-color: #ff4a4a;
  color: white;
}

.btn-eliminar:hover {
  background-color: #ff6565;
}